.user-card {
  width: 300px;
  padding: 20px;
  background-color: beige;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 6px 5px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.user-img {
  border-radius: 12px;
}