.hero-container {
  border: 1px solid black;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 3.2rem;
}

li {
  list-style: none;
}

.main-container {
  width: 300px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-container {
  width: 200px;
}

.poster {
  width: 100%;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}