.board-container {
  margin: 80px;
}

/* h1 {
  text-align: center;
} */

.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.square {
  border: 1px solid grey;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-card {
  padding: 20px;
  box-shadow: 10px 2px 12px rgba(0, 0, 0, 0.8);
  margin-bottom: 12px;
  border-radius: 12px;
}

.container {
  width: 300px;
  margin: auto;
}

.user-btn {
  background-color: #c7d3bc;
  border: none;
  color: white;
  border-radius: 18px;
  padding: 15px 18px;
  font-weight: 700;
}

.user-btn:hover {
  background-color: #b3cf73;
}

.color-container {
  border: 1px solid black;
  width: 50vw;
  height: 40vh;
}