form {
  width: 320px;
  margin: auto;
  margin-top: 100px;
}

form input {
  width: 90%;
  font-size: 22px;
  padding: 3px;
}

button {
  width: 80px;
  height: 30px;
  margin: 12px auto;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}