body {
  background-color: #17202a;

}

html {
  font-size: 62.5%;
  font-family: "urbanist", serif;
}

p,
a,
li,
input {
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  line-height: 1.5;
  color: #fff;
}

li {
  list-style: none;
}

button {
  padding: 0.8rem 3.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 0;
  font-weight: 600;
  margin-left: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.5s ease;
}

.edit-btn,
.add-btn {
  background-color: #2cea3c;
}

.delete-btn {
  background-color: rgb(221, 55, 55);
}

.section-form {
  background: #212f3d;
  width: 100%;

  border-radius: 0.3rem;
  padding: 1.6rem;
  position: fixed;
  top: 0px;

  form {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }

  & input {
    width: 24rem;
    color: #212f3d;
    border: 0.1rem solid grey;
    outline: 0;
    border-radius: 0.3rem;
    padding: 0.8rem 1.3rem;
  }
}

.main-section {
  /* border: 1px solid red; */
  margin-top: 150px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-post {
  width: 90%;

  & ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }

  & li {
    background-color: #212f3c;
    padding: 1.6rem;
    border-radius: 0.3rem;
    border-left: 0.2rem solid #fff;
  }
}

@media screen and (max-width: 980px) {
  .section-form form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-post ol {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .section-post ol {
    grid-template-columns: repeat(1, 1fr);
  }
}