.wrapper,
.todo-container {
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  list-style: none;
}

.todo-item-text {
  margin-left: 5px;
}

.todo-button {
  width: 100%;
  padding: 6px 0;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}